<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.question.mapper.QueDebugMapper">


  <delete id="deleteQueDebugById" parameterType="Long">
        delete from que_debug where debug_id = #{debugId}
    </delete>

  <delete id="deleteQueDebugByIds" parameterType="String">
    delete from que_debug where debug_id in
    <foreach close=")" collection="array" item="debugId" open="(" separator=",">
      #{debugId}
    </foreach>
  </delete>

  <insert id="insertQueDebug" keyProperty="debugId" parameterType="QueDebug"
    useGeneratedKeys="true">
    insert into que_debug
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="debugMan != null">debug_man,</if>
      <if test="debugDatail != null">debug_datail,</if>
      <if test="debugStatus != null">debug_status,</if>
      <if test="storeId != null">store_id,</if>
      <if test="deleteStatus != null">delete_status,</if>
      <if test="createTime != null">create_time,</if>
      <if test="updateTime != null">update_time,</if>
      <if test="version != null">version,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="debugMan != null">#{debugMan},</if>
      <if test="debugDatail != null">#{debugDatail},</if>
      <if test="debugStatus != null">#{debugStatus},</if>
      <if test="storeId != null">#{storeId},</if>
      <if test="deleteStatus != null">#{deleteStatus},</if>
      <if test="createTime != null">#{createTime},</if>
      <if test="updateTime != null">#{updateTime},</if>
      <if test="version != null">#{version},</if>
    </trim>
  </insert>

  <select id="selectQueDebugById" parameterType="Long" resultMap="QueDebugResult">
    <include refid="selectQueDebugVo"/>
    where debug_id = #{debugId}
  </select>

  <select id="selectQueDebugList" parameterType="QueDebug" resultMap="QueDebugResult">
    <include refid="selectQueDebugVo"/>
    <where>
      <if test="debugDatail != null  and debugDatail != ''">and debug_datail = #{debugDatail}</if>
      <if test="debugStatus != null  and debugStatus != ''">and debug_status = #{debugStatus}</if>
    </where>
  </select>

  <sql id="selectQueDebugVo">
        select debug_id, debug_man, debug_datail, debug_status, store_id, delete_status, create_time, update_time, version from que_debug
    </sql>

  <update id="updateQueDebug" parameterType="QueDebug">
    update que_debug
    <trim prefix="SET" suffixOverrides=",">
      <if test="debugMan != null">debug_man = #{debugMan},</if>
      <if test="debugDatail != null">debug_datail = #{debugDatail},</if>
      <if test="debugStatus != null">debug_status = #{debugStatus},</if>
      <if test="storeId != null">store_id = #{storeId},</if>
      <if test="deleteStatus != null">delete_status = #{deleteStatus},</if>
      <if test="createTime != null">create_time = #{createTime},</if>
      <if test="updateTime != null">update_time = #{updateTime},</if>
      <if test="version != null">version = #{version},</if>
    </trim>
    where debug_id = #{debugId}
  </update>
</mapper>